html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.content {
  margin: 0 auto;
  width: 600px;

  .chart {

    .chart-top {
      display: flex;
      justify-content: space-between;

      .chart-title, .chart-buttons {
        display: inline-block;
        vertical-align: middle;
      }

      .chart-title {

      }

      .chart-buttons {
        padding-top: 20px;

        button {
          border: 0;
          width: auto;
          height: 20px;
          font-size: 12px;
          cursor: pointer;

          &.chart-toggle-view {
            background: #0095ff;
            color: #fff;
          }

          &.chart-toggle-type {
            background: #ff7100;
            color: #fff;
          }
        }
      }
    }

    canvas {
      display: block;
    }
  }
}
