html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.content {
  margin: 0 auto;
  width: 600px;
}
.content .chart .chart-top {
  display: flex;
  justify-content: space-between;
}
.content .chart .chart-top .chart-title,
.content .chart .chart-top .chart-buttons {
  display: inline-block;
  vertical-align: middle;
}
.content .chart .chart-top .chart-buttons {
  padding-top: 20px;
}
.content .chart .chart-top .chart-buttons button {
  border: 0;
  width: auto;
  height: 20px;
  font-size: 12px;
  cursor: pointer;
}
.content .chart .chart-top .chart-buttons button.chart-toggle-view {
  background: #0095ff;
  color: #fff;
}
.content .chart .chart-top .chart-buttons button.chart-toggle-type {
  background: #ff7100;
  color: #fff;
}
.content .chart canvas {
  display: block;
}
